html{
    background: black;
    color: white;
}
.App{

}

.engine {
    width: 95%;
    margin: 0 auto;
    padding: 1vw;
    margin: 0 auto;
}

.engine > .ins-header {
    background: black;
    color: white
                    
}
.engine-panel {
    background: black;
}

.panel {
    margin: 1vh auto;
    font-size: 0.75em;
    padding: 5px;
    border: 0.25px solid grey;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
                   
}

button {
    width: 12vw;
    height: 4.6vh;
    min-width: 75px;
    min-height: 50px;
    /*max-width: 100px;
    max-height: 75px;*/
    margin: auto 0;
    font-size: x-small;
    background: black;
    color: white;
}
.control {
    flex-basis: 25%;
}
.input {
    width: 50%
}

.slider {
    padding: 0 0;
    margin: 2vh 0;
}
