
.engine {
    border: 1px solid black;
    width: 90vw;
    margin: 0 auto;
    padding: 1vw;
    margin: 0 auto;
}

.engine-panel {

}

.panel {
    margin: 1vh auto;
    font-size: 0.75em;
    padding: 5px;
    border: 0.5px solid black;
    display: flex;
    flex-flow: row wrap
}

button {
    width: 12vw;
    height: 4.6vh;
    /*min-width: 75px;
    min-height: 50px;
    max-width: 100px;
    max-height: 75px;*/
    margin: auto 0;
    font-size: x-small
}
.control {
    flex-basis: 25%
}
.input {
    width: 50%
}

.slider {
}
