.role {
    display: block;
    width: 100%;
    margin: 1vh auto
}

.note-collection, .sequence-collection {
    border: 0.5px solid white;
    display: flex;
    flex-flow: row wrap;
    margin:  auto;
    padding: 5px;
    width: 100%;
}
.sequence-collection {
    
}


.role-edit {
    text-align: center;
    font-size: 0.70em;
    margin: auto 0;
    min-width: 50px;
}

.role-edit button{
    width: 10%
}

.role-edit.bass button {
    background: blue;
        color: white;
}

.role-edit.treble button {

    background: red;
        color: white;
}

.read-outs {
    display: block;
}

.ins-header{
    padding: 5px;
    transition: all 0.5s;
}
.ins-header:hover {
    border-bottom: 5px solid white;
}

