.role {
    display: block;
    width: 100%;
    margin: 1vh auto;
}

.role > .key-inner {
    border: none;
    margin-bottom: 5px;
}
.role.active > .ins-header {
    border-bottom: 5px solid white;
}

.role.active:hover > .ins-header {
    border-bottom: 5px solid white;
}
.role.inactive > .ins-header {
    border-bottom: none;
}
.ins {
}

.ins-header{
    padding: 5px;
    transition: all 0.25s;
}


.role:hover > .ins-header {
    border-bottom: 5px solid darkslategray;
}

.note-collection, .sequence-collection {
    border: 0.5px solid white;
    display: flex;
    flex-flow: row wrap;
    margin:  auto;
    padding: 5px;
    width: 100%;
}
.sequence-collection {
    
}



.role-edit {
    text-align: center;
    font-size: 0.70em;
    margin: auto 0;
    min-width: 50px;
}

.role-edit button{
    width: 10%
}

.role-edit.bass button {
    background: blue;
    color: white;
}

.role-edit.treble button {

    background: red;
        color: white;
}

.pane {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 150px;
        
}

.label {
    display: block;

}

.transport {
    padding-right: 10px;
}

.read-outs {
    display: flex;
    flex-flow: column wrap;
}

.read-outs > .figures {
}

.read-outs > .label{
 }



